  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ habit?.name }}</mat-card-title>
      <mat-card-subtitle>{{ habit?.comment }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
            <howl-calendar-date-btn *ngFor="let date of daysOfWeek" 
            [habit]="habit"
            [date]="date"
            (toggleFulfilled)="toggleFulfilled($event)"
            ></howl-calendar-date-btn>
    </mat-card-content>
  </mat-card>